@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: #3cb4ac;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
}

.main {
  padding-bottom: 5em;
}
/* Header Section */
.header {
  width: 100%;
}

.header__img--mobile {
  display: none;
}

.header__img--desktop {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (min-width: 750px) {
  .menu {
    top: 2.8em;
    width: 77%;
  }
}

.about,
.discover,
.get-started {
  color: #fff;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}
/* Header Section End */

/* Container width */
.container {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}
/* Main box structure */
.structure {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgb(100 100 111 /20%) 0px 7px 29px 0px;
  border: 1px solid #e4e5f1;
  margin: 1em 0;
}

.top-container {
  padding: 5% 4%;
  position: relative;
}

.master-icon {
  position: absolute;
  left: 49%;
  top: -10%;
}

.title,
.sub-title {
  text-align: center;

  margin-bottom: 0.5rem;
}

h1.title {
  font-size: 1.5rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

p {
  color: hsl(0, 0%, 48%);
}
/* Button Section */
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 2% 0;
}

.bookmark {
  display: flex;
  align-items: center;
  background-color: #e4e5f1;
  border-radius: 100px;
  width: 150px;
}

.btn-all {
  border: 0;
  font-size: 0.9rem;
}

.bookmark-btn {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.65;
  position: relative;
  text-align: right;
  background-color: transparent;
}

.bookmark-icon:hover {
  opacity: 0.7;
}

.btn {
  width: 220px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* End of button Section */
/* End of top Box */

/* Start of donation box */
.donation {
  padding: 1% 8% 5%;
  margin: 5% 0;
}

.money-section {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.stat_hr,
.progress-bar {
  background-color: #e4e5f1;
}

.stat_hr {
  height: 80px;
  width: 2px;
}

.progress-bar {
  height: 13px;
  width: 100%;
  border-radius: 100px;
}

.progress-bar_inner {
  height: 13px;
  background-color: var(--main-color);
  border-radius: 100px;
}
/* End of donation section */

/* Start of about project section */
.aboutSec {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2em;
}

.topLine,
.botLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  padding-top: 1em;
  box-shadow: none;
}

.pledge-title {
  font-size: 1rem;
}

.highlightText {
  font-size: 0.85rem;
  font-weight: lighter;
  color: var(--main-color);
}

.numbers {
  display: flex;
  align-items: center;
}

.left {
  margin-left: 0.2em;
}

.selectbtn {
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 1.25em 2.75em;
  background-color: var(--main-color);
}

.selectbtn:hover {
  background-color: var(--main-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.unavailable {
  filter: opacity(50%);
}

.btnUnavailable {
  background-color: #7a7a7a;
}
/* end of about section */

/* Modal Start */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.pledgeModal {
  height: 80%;
  top: 10%;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  grid-gap: 1.5em;
  gap: 1.5em;
  overflow: scroll;
  padding: 1em 0;
}

.topModalBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeModalIcon {
  height: 50%;
  cursor: pointer;
}

.pledgeClick {
  cursor: pointer;
  margin-right: 15px;
}

.pledgeClick:hover {
  color: var(--main-color);
}

.number {
  margin-right: 5px;
}

.padding-text {
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 2.4em;
}

.smallbtn {
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 1.25em 2.75em;
}

.inputbtn {
  border: 1px solid #e4e5f1;
  /* border: 1px solid var(--very-light-grayish-blue); */
  color: #000;
  color: var(--black);
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  width: 45%;
  /* font-size: .8rem; */
  padding: 1em 2.25em;
  outline: none;
}

.cyan-btn {
  background-color: var(--main-color);
  color: #fff;
}

.pledgeEnter {
  border-top: 2px solid #e4e5f1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.display {
  display: none;
}

.cyan-btn:hover {
  background-color: transparent;
  color: var(--main-color);
  transition: 0.6s ease;
  border-color: var(--main-color);
}

.cyan-btn {
  background-color: var(--main-color);
  color: #fff;
  transition: 0.6s ease;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.topRowFirst {
  display: flex;
  align-items: center;
}

.topRowSecond {
  display: flex;
  align-items: center;
}

.checkbox {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5f1;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  margin-right: 1em;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 5px;
}

.checkbox--selected {
  border-radius: 100px;
  height: 24px;
  width: 24px;
  background-color: var(--main-color);
}

.active {
  border: 2px solid var(--main-color);
}
/* Completed modal */

.gotItModal {
  text-align: center;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.gotItmodal-content {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 2em 2em;
  top: 30%;
  width: 50ch;
}

.checkMarkIcon {
  padding-bottom: 20px;
}

.gotItBtn {
  border-radius: 20px;
  width: 25%;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 0px 10px;
  margin: 20px 0px 5px 0px;
}
